@charset "UTF-8";

/* fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");

/* normalize */
@import url("lib/normalize.css");

/* generales*/

body {
    font-family: 'Open Sans', sans-serif;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 16px;
}
ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
figure {    
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}


/* Header */
.page-header {
    background-color: #fac001;
    color: #000000;
    padding: 80px 0px;
}
.page-header h1 {
    margin: 0;
    font-weight: 300;
    font-size: 40px;
    text-transform: uppercase;

}

/* Nav */
.page-nav {
    background-color: #555;
}
.page-nav li {
    display: inline
}
.page-nav a {
    display: inline-block;
    padding: 12px 15px;
    color: #CCC;
    text-decoration: none;
    transition: all .3s;
}
.page-nav a:hover {
    background-color: #fac001;
    color: #FFF;
}

/* Main */
.page-main {
    padding: 65px 0;
}
/* Footer */
.page-footer {
    background-color: #555;
    padding: 12px 0;
    text-align: center;
    color: #CCC;
}
/* Grid system */
.row {
    margin-left: -16px;
}
.row:before,
.row:after {
    content: "";
    display: block;
}
.row:after{
    clear: both;
}
.col {
    padding-left: 16px;
    box-sizing: border-box;
}

/* Media Queries */
/* tablet and up */

@media screen and (min-width: 768px){
    h2:first-child,
    h3:first-child {
        margin-top: 0;
        line-height: 1;
    }
    .col {
        float: left;
    }
    .tb-col-1{
        width: 8.33%;
    }
    .tb-col-2{
        width: 16.66%;
    }
    .tb-col-3{
        width: 25%;
    }
    .tb-col-4{
        width: 33.33%;
    }
    .tb-col-5{
        width: 41.66%;
    }
    .tb-col-6{
        width: 50%;
    }
    .tb-col-7{
        width: 58.33%;
    }
    .tb-col-8{
        width: 66.66%;
    }
    .tb-col-9{
        width: 75%;
    }
    .tb-col-10{
        width: 83.33%;
    }
    .tb-col-11{
        width: 91.66%;
    }
    .tb-col-12{
        width: 100%;
    }

}
/* desktop and up */

@media screen and (min-width: 992px){
    .dk-col-1{
        width: 8.33%;
    }
    .dk-col-2{
        width: 16.66%;
    }
    .dk-col-3{
        width: 25%;
    }
    .dk-col-4{
        width: 33.33%;
    }
    .dk-col-5{
        width: 41.66%;
    }
    .dk-col-6{
        width: 50%;
    }
    .dk-col-7{
        width: 58.33%;
    }
    .dk-col-8{
        width: 66.66%;
    }
    .dk-col-9{
        width: 75%;
    }
    .dk-col-10{
        width: 83.33%;
    }
    .dk-col-11{
        width: 91.66%;
    }
    .dk-col-12{
        width: 100%;
    }
/* form */
.form {
    border: 1px solid #ccc;
    padding: 30px 50px;
}
.form__element {
    margin-bottom: 25px;
}
.form__label {
    display: block;
    margin-bottom: 4px;
}

.form__text,
.form__textarea,
.form__select{
    background-color: #FFF;
    width: 100%;
    padding: 10px;
    border: 1px solid #CCC;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
}
.form__text:focus,
.form__textarea:focus,
.form__select:focus {
    border-color: #800202;
    border-width: 2px;
}
.form__text:disabled,
.form__textarea:disabled,
.form__select:disabled {
    background-color: #363636;
    border-color: #020101;
    color: #f5f3f3;
}
.form__select {
    height: 40px;
}
.form__textarea {
    height: 150px;
    resize: none; /* sirve para quitar las lienas de abajo que muestran que se puede hacer mas grande o más pequeño */
}
.form__button {
    background-color: #F5F5F5;
    border: 1px solid #CCC;
    color: #666;
    padding: 10px 25px;
    border-radius: 0;/* para que no se vean curvas al lado del boton */
    cursor: pointer;/* para que aparezca la manita al poner el cursor */
    transition: all .2s;
}
.form__button:hover {
    background-color: #c0bebe;
}
.form__button--main {
    background-color: #fa0000;
    color: #ffffff;
}
.form__button--main:hover {
    background-color: #910505;
            
}
.form label.error {
    color: #e60404;
}
.form__text.error,
.form__textarea.error,
.form__select.error{
    background-color: rgba(230, 4, 4, .05);
}
/* Helpers */
.clearfix:before,
.clearfix:after {
    content: "";
    display: block;
}
.clearfix:after{
    clear: both;
}
.margin-bottom,
.mb {
    margin-bottom: 25px;
}
.margin-top,
.mt {
    margin-top: 25px;
}
.margin-vertical,
.mv {
    margin: 25px 0;
}
.text-right,
.tr {
    text-align: right;
}
.text-center,
.tc {
    text-align: center;
}
.text-left,
.tl{
    text-align: left;
}